@charset "utf-8";

*{
	margin:0;
	padding:0;
}
.content{
	margin: 30px;
}
.content div{
	float: left;
}
.content:after{
	content: "";
	display: block;
	clear: both;
}
.content select{
	width: 170px;
	height: 230px;
	text-align: center;
	font-size: 17px;
}
.btnPart input{
	display: block;
	height: 20px;
	width: 50px;
	margin: 10px 0;
}
.btnPart{
	text-align: center;
	margin: 50px 20px;
}